test/src/x64
test/src/test_proj.vcxproj.user
test/src/test_proj.dir/
test/src/test_proj.vcxproj
test/src/test_proj.vcxproj.filters
test/src/ZERO_CHECK.vcxproj
test/src/ZERO_CHECK.vcxproj.filters
test/src/cmake_install.cmake
test/src/test2.vcxproj
test/src/test2.vcxproj.filters
test/src/CMakeFiles/
test/src/CMakeLists.txt.bak
test/src/Debug/
test/src/Project.sln
proj0.sdf
proj0.sln
proj0.v12.suo
test/src/ALL_BUILD.vcxproj
test/src/ALL_BUILD.vcxproj.filters
test/src/CMakeCache.txt
monitor/src/monitor.dir/
monitor/src/monitor.vcxproj
monitor/src/monitor.vcxproj.filters
monitor/src/monitor.vcxproj.user
monitor/src/ribbon1.mfcribbon-ms
monitor/src/x64/
proj0.opensdf
monitor/src/mfcde2.aps
monitor/src/mfcde2lib.dir/
monitor/src/mfcde2lib.vcxproj
monitor/src/mfcde2lib.vcxproj.filters
monitor/src/Project.sdf
monitor/src/Project.sln
monitor/src/Project.v12.suo
monitor/src/ZERO_CHECK.vcxproj
monitor/src/ZERO_CHECK.vcxproj.filters
monitor/src/bcd.vcxproj
monitor/src/bcd.vcxproj.filters
monitor/src/cmake_install.cmake
monitor/CMakeFiles/
monitor/cmake_install.cmake
monitor/src/ALL_BUILD.vcxproj
monitor/src/ALL_BUILD.vcxproj.filters
monitor/src/CMakeCache.txt
monitor/src/CMakeFiles/
monitor/src/CMakeLists.txt.bak
monitor/src/Debug/
library/src/CMakeLists.txt.bak
library/src/ClassDiagram.cd
library/src/Project.sdf
library/src/Project.sln
library/src/Project.v12.suo
library/src/cmake_install.cmake
library/src/my_library.dir/
library/src/my_library.vcxproj
library/src/my_library.vcxproj.filters
library/src/my_library.vcxproj.user
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.bak
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
chat_server/CMakeFiles/
chat_server/chat_server.dir/
chat_server/chat_server.vcxproj
chat_server/chat_server.vcxproj.fi
chat_server/chat_serverlib.dir/
chat_server/chat_serverlib.vcxproj
chat_server/chat_serverlib.vcxproj
chat_server/cmake_install.cmake
cmake_install.cmake
example0/ALL_BUILD.vcxproj
example0/ALL_BUILD.vcxproj.filters
example0/CMakeFiles/
example0/CMakeLists.txt.bak
example0/Project.sln
example0/ZERO_CHECK.vcxproj
example0/ZERO_CHECK.vcxproj.filter
example0/cmake_install.cmake
example0/example0.aps
example0/example0.dir/
example0/example0.vcxproj
example0/example0.vcxproj.filters
example1/CMakeFiles/
example1/CMakeLists.txt.bak
example1/Debug/
example1/cmake_install.cmake
example1/example1.aps
example1/example1.dir/
example1/example1.vcxproj
example1/example1.vcxproj.filters
example2/CMakeFiles/
example2/Debug/
example2/cmake_install.cmake
example2/example2.aps
example2/example2.dir/
example2/example2.vcxproj
example2/example2.vcxproj.filters
library/src/CMakeFiles/
chat_server/chat_server.vcxproj.filters
chat_server/chat_serverlib.vcxproj.filters
example3/example3.vcxproj
example3/example3.vcxproj.filters
example3/Debug/
example3/example3.aps
example3/example3.dir/
example3/Project.sln
example3/example3.vcxproj.user
example3/OUTPUT.vcxproj
example3/OUTPUT.vcxproj.filters
example4/example4.vcxproj
example4/example4.vcxproj.filters
chat_server/Debug/
example0/Debug/
library/src/Debug/
path_home.txt.bak
path_home.txt
example5/example5.vcxproj
example5/example5.vcxproj.filters
example5/Debug/
example5/example5.dir/
example6/example6.dir/
example6/example6.vcxproj
example6/example6.vcxproj.filters
example6/Debug/
example6/example6.aps
example7/example7.vcxproj
example7/example7.vcxproj.filters
example7/Debug/
example7/example7.aps
example7/example7.dir/
example8/example8.vcxproj
example8/example8.vcxproj.filters
example8/Debug/
example8/example8.aps
example8/example8.dir/
example9/Debug/
example9/example9.dir/
example9/example9.vcxproj
example9/example9.vcxproj.filters
example4/example4.dir/
example10/example10.vcxproj
example10/example10.vcxproj.filters
example10/example10.aps
example11/example11.vcxproj
example11/example11.vcxproj.filters
example12/Debug/
example12/example12.dir/
example12/example12.vcxproj
example12/example12.vcxproj.filters
example11/Debug/
example11/example11.dir/
example11/execute.cpp
example11/example11lib.vcxproj
example11/example11lib.vcxproj.filters
example11/example11lib.dir/
example13/example13.vcxproj
example13/example13.vcxproj.filters
example13/Debug/
example13/example13.aps
example13/example13.dir/
tetris/tetris.vcxproj
tetris/tetris.vcxproj.filters
tetris/Debug/
tetris/tetris.aps
tetris/tetris.dir/
example10/example10.dir/
example10/Debug/
chat_server/Release/
library/src/Release/
example14/example14.vcxproj
example14/example14.vcxproj.filters
example16/example16.vcxproj
example16/example16.vcxproj.filters
example15/example15.dir/
example15/example15.vcxproj
example15/example15.vcxproj.filters
example15/Debug/
example19/example19.vcxproj
example19/example19.vcxproj.filters
example18/example18.dir/
example18/example18.vcxproj
example18/example18.vcxproj.filters
example17/example17.dir/
example17/example17.vcxproj
example17/example17.vcxproj.filters
example16/Debug/
example16/example16.dir/
example17/Debug/
example18/Debug/
example20/example20.dir/
example20/example20.vcxproj
example20/example20.vcxproj.filters
example20/Debug/
example21/example21.vcxproj
example21/example21.vcxproj.filters
example21/Debug/
example21/example21.aps
example21/example21.dir/
example25/example25.vcxproj
example25/example25.vcxproj.filters
example24/example24.dir/
example24/example24.vcxproj
example24/example24.vcxproj.filters
example23/example23.dir/
example23/example23.vcxproj
example23/example23.vcxproj.filters
example22/example22.dir/
example22/example22.vcxproj
example22/example22.vcxproj.filters
example22/Debug/
example23/Debug/
example24/Debug/
example26/example26.dir/
example26/example26.vcxproj
example26/example26.vcxproj.filters
example26/Debug/
example28/example28.vcxproj
example28/example28.vcxproj.filters
example27/Debug/
example27/example27.dir/
example27/example27.vcxproj
example27/example27.vcxproj.filters
example28/Debug/
example28/example28.dir/
example29/example29.dir/
example29/example29.vcxproj
example29/example29.vcxproj.filters
example29/Debug/
example31/example31.vcxproj
example31/example31.vcxproj.filters
example30/example30.dir/
example30/example30.vcxproj
example30/example30.vcxproj.filters
example31/example31.dir/
example30/Debug/
example31/Debug/
example32/Debug/
example32/Project.sln
example32/example32.dir/
example32/example32.vcxproj
example32/example32.vcxproj.filters
example14/Debug/
example14/example14.dir/
example19/Debug/
example19/example19.dir/
example25/Debug/
example25/example25.dir/
example4/Debug/
example33/Debug/
example33/goodluck.dir/
example33/goodluck.vcxproj
example33/goodluck.vcxproj.filters
example33/example33.dir/
example33/example33.vcxproj
example33/example33.vcxproj.filters
example34/example34.dir/
example34/example34.vcxproj
example34/example34.vcxproj.filters
example34/example34.vcxproj.user
xunan_admin/xunan_admin.vcxproj
xunan_admin/xunan_admin.vcxproj.filters
xunan_admin/xunan_admin.vcxproj.user
xunan_admin/xunan_adminlib.dir/
xunan_admin/xunan_adminlib.vcxproj
xunan_admin/xunan_adminlib.vcxproj.filters
xunan_admin/xunan_admin.aps
xunan_admin/xunan_admin.dir/
xunan_admin/Debug/
xunan_admin/example13.dir/
xunan_admin/example13.vcxproj
xunan_admin/example13.vcxproj.filters
example31/example31.aps
xunan_admin/Release/
xunan_admin/xunan_admin.rar
xunan_admin/MinSizeRel/
xunan_admin/util/util.dir/
xunan_admin/util/util.vcxproj
xunan_admin/util/util.vcxproj.filters
xunan_admin/Project.opensdf
xunan_admin/Project.sdf
xunan_admin/Project.sln
xunan_admin/Project.v12.suo
xunan_admin/ALL_BUILD.sdf
xunan_admin/xunan_admin.opensdf
xunan_admin/xunan_admin.sdf
xunan_admin/xunan_admin.sln
xunan_admin/odb/
xunan_admin/ctrl/ctrl.vcxproj
xunan_admin/ctrl/ctrl.vcxproj.filters
xunan_admin/dao/dao.vcxproj
xunan_admin/dao/dao.vcxproj.filters
xunan_admin/dlg/dlg.vcxproj
xunan_admin/dlg/dlg.vcxproj.filters
xunan_admin/entity/entity.vcxproj
xunan_admin/entity/entity.vcxproj.filters
xunan_admin/service/service.vcxproj
xunan_admin/service/service.vcxproj.filters
xunan_admin/xunan_admin.v12.suo
xunan_admin/ctrl/Debug/
xunan_admin/ctrl/ctrl.dir/
xunan_admin/ctrl/ctrl.vcxproj.user
xunan_admin/dao/Debug/
xunan_admin/dao/dao.dir/
xunan_admin/dlg/Debug/
xunan_admin/dlg/dlg.dir/
xunan_admin/entity/Debug/
xunan_admin/entity/entity.dir/
xunan_admin/service/Debug/
xunan_admin/service/service.dir/
xunan_admin/util/Debug/
xunan_admin/ctrl/Release/
xunan_admin/dao/Release/
xunan_admin/dlg/Release/
xunan_admin/entity/Release/
xunan_admin/entity/brand-odb.cxx
xunan_admin/entity/brand-odb.hxx
xunan_admin/entity/brand-odb.ixx
xunan_admin/entity/classification-odb.cxx
xunan_admin/entity/classification-odb.hxx
xunan_admin/entity/classification-odb.ixx
xunan_admin/entity/country-odb.cxx
xunan_admin/entity/country-odb.hxx
xunan_admin/entity/country-odb.ixx
xunan_admin/entity/file-odb.cxx
xunan_admin/entity/file-odb.hxx
xunan_admin/entity/file-odb.ixx
xunan_admin/entity/good_file-odb.cxx
xunan_admin/entity/good_file-odb.hxx
xunan_admin/entity/good_file-odb.ixx
xunan_admin/entity/goods-odb.cxx
xunan_admin/entity/goods-odb.hxx
xunan_admin/entity/goods-odb.ixx
xunan_admin/entity/odb.vcxproj
xunan_admin/entity/odb.vcxproj.filters
xunan_admin/entity/odb_local.vcxproj
xunan_admin/entity/odb_local.vcxproj.filters
xunan_admin/entity/upload_type-odb.cxx
xunan_admin/entity/upload_type-odb.hxx
xunan_admin/entity/upload_type-odb.ixx
xunan_admin/entity/venue-odb.cxx
xunan_admin/entity/venue-odb.hxx
xunan_admin/entity/venue-odb.ixx
xunan_admin/service/Release/
xunan_admin/util/Release/
xunan_admin/x64/