test/src/x64
test/src/test_proj.vcxproj.user
test/src/test_proj.dir/
test/src/test_proj.vcxproj
test/src/test_proj.vcxproj.filters
test/src/ZERO_CHECK.vcxproj
test/src/ZERO_CHECK.vcxproj.filters
test/src/cmake_install.cmake
test/src/test2.vcxproj
test/src/test2.vcxproj.filters
test/src/CMakeFiles/
test/src/CMakeLists.txt.bak
test/src/Debug/
test/src/Project.sln
proj0.sdf
proj0.sln
proj0.v12.suo
test/src/ALL_BUILD.vcxproj
test/src/ALL_BUILD.vcxproj.filters
test/src/CMakeCache.txt
monitor/src/monitor.dir/
monitor/src/monitor.vcxproj
monitor/src/monitor.vcxproj.filters
monitor/src/monitor.vcxproj.user
monitor/src/ribbon1.mfcribbon-ms
monitor/src/x64/
proj0.opensdf
monitor/src/mfcde2.aps
monitor/src/mfcde2lib.dir/
monitor/src/mfcde2lib.vcxproj
monitor/src/mfcde2lib.vcxproj.filters
monitor/src/Project.sdf
monitor/src/Project.sln
monitor/src/Project.v12.suo
monitor/src/ZERO_CHECK.vcxproj
monitor/src/ZERO_CHECK.vcxproj.filters
monitor/src/bcd.vcxproj
monitor/src/bcd.vcxproj.filters
monitor/src/cmake_install.cmake
monitor/CMakeFiles/
monitor/cmake_install.cmake
monitor/src/ALL_BUILD.vcxproj
monitor/src/ALL_BUILD.vcxproj.filters
monitor/src/CMakeCache.txt
monitor/src/CMakeFiles/
monitor/src/CMakeLists.txt.bak
monitor/src/Debug/
library/src/CMakeLists.txt.bak
library/src/ClassDiagram.cd
library/src/Project.sdf
library/src/Project.sln
library/src/Project.v12.suo
library/src/cmake_install.cmake
library/src/my_library.dir/
library/src/my_library.vcxproj
library/src/my_library.vcxproj.filters
library/src/my_library.vcxproj.user
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.bak
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
chat_server/CMakeFiles/
chat_server/chat_server.dir/
chat_server/chat_server.vcxproj
chat_server/chat_server.vcxproj.fi
chat_server/chat_serverlib.dir/
chat_server/chat_serverlib.vcxproj
chat_server/chat_serverlib.vcxproj
chat_server/cmake_install.cmake
cmake_install.cmake
example0/ALL_BUILD.vcxproj
example0/ALL_BUILD.vcxproj.filters
example0/CMakeFiles/
example0/CMakeLists.txt.bak
example0/Project.sln
example0/ZERO_CHECK.vcxproj
example0/ZERO_CHECK.vcxproj.filter
example0/cmake_install.cmake
example0/example0.aps
example0/example0.dir/
example0/example0.vcxproj
example0/example0.vcxproj.filters
example1/CMakeFiles/
example1/CMakeLists.txt.bak
example1/Debug/
example1/cmake_install.cmake
example1/example1.aps
example1/example1.dir/
example1/example1.vcxproj
example1/example1.vcxproj.filters
example2/CMakeFiles/
example2/Debug/
example2/cmake_install.cmake
example2/example2.aps
example2/example2.dir/
example2/example2.vcxproj
example2/example2.vcxproj.filters
library/src/CMakeFiles/
chat_server/chat_server.vcxproj.filters
chat_server/chat_serverlib.vcxproj.filters
example3/example3.vcxproj
example3/example3.vcxproj.filters
example3/Debug/
example3/example3.aps
example3/example3.dir/
example3/Project.sln
example3/example3.vcxproj.user